/*  _hero-canvas.css
    Styles scoped to the “Hero Canvas” template
    Keep minimal; extend without affecting global CSS
-------------------------------------------------------------------- */

#breadcrumbs {
  margin-bottom: 1.25rem;
}

.post-header h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

#primary .post-header {
  margin-bottom: 0;
}

@media (min-width: 992px) {
  .post-header h1 {
    font-size: 3rem;
  }
}
